body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('american-flag.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.countdown-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* White background with slight transparency */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Rounded corners for container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Drop shadow for depth */
}
